body { 
    text-align: center; 
} 

section { 
    display: flex; 
    margin: 7em;
} 

.left.summary { 
               background-color: #5413ff; 
               border-radius: 15px; 
               padding-left: 70px; 
               padding-right: 70px;
} 

h4 { 
    color: whitesmoke; 
    font-family: serif; 
    padding-top: 0; 
    font-size: 15px;
} 

.cap.reader { 
    color: white; 
    font-size: 20px; 
} 

.cap.reading.font { 
    font-weight: bold; 
    color: white; 
    padding-top: 20px; 
    font-size: 35px; 
    font-family: 'Times New Roman', Times, serif; 
    display: block;
}
  
.left.summary > p[class="small head"] > .cap.reading { 
    font-size: 25px; 
    font-family: 'Times New Roman', Times, serif; 
} 

.circle { 
    height: 100px; 
    width: 100px; 
    border-radius: 50%; 
    background: linear-gradient(to bottom, #2900e0  , #5413ff 90%); 

} 

.circle-parent { 
    display: flex;
    justify-content: center;
}

.small.reading { 
    color: whitesmoke; 
} 

.appr { 
    font-size: 15px; 
    color: whitesmoke; 

    
} 

.right.summary { 
    padding-left: 70px; 
    padding-right: 70px; 
    max-width: 100%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
} 

h3 { 
    font-size: 20px;
} 

main { 
    display: flex; 
    margin: 10px;
} 

.summary.text { 
           font-family: 'serif', sans-serif; 
           padding: 5px 10px; 
           margin: 5px;
} 

.summary.rating { 
    font-family: 'Trebuchet MS', sans-serif; 
    padding: 5px 10px; 
    margin: 5px;
} 

.reaction { 
    background-color: rgba(255, 107, 107, 0.1); 
    border-radius: 12px;
} 
.fa-bolt { 
    color: #ff6b6b;
} 

.sum-text.react { 
    color: #ff6b6b;
}

.memory { 
    background-color: rgba(255, 217, 61, 0.1); 
    border-radius: 12px; 
}       

.fa-lightbulb { 
    color: #ffd93d;
} 

.sum-text.memory { 
    color: #ffd93d;
}

.verbal { 
    background-color: rgba(107, 203, 119, 0.1); 
    border-radius: 12px; 
} 

.fa-comment-alt { 
    color: #6bcb77; 
} 

.sum-text.verbal { 
    color: #6bcb77;
}

.visual { 
    background-color: rgba(77, 150, 255, 0.1); 
    border-radius: 12px; 
} 
.fa-eye { 
    color: #4d96ff; 
} 

.sum-text.visual { 
    color: #4d96ff;
}

button { 
    background-color: #2d2f3a; 
    font-size: 14px; 
    border-radius: 25px; 
    color: white; 
    padding: 10px 4em; 
    margin: 1px;
} 

